.checkout-body {
    width: 35%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.checkout-container {
    width: 400px;
    height: 300px;
    border: 1px solid none;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.stripe-button-el {
    margin-top: 50px;
    width: 250px;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
}

span {
    font-size: 20px;
    font-weight: 500;
}

.checkout-button {
    background-color: black;
}

@media (max-width:376px) {
    .checkout-body {
        width: 100%;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .checkout-total-display {
        text-align: center;
    }
}

